@font-face {
    font-family: 'Track'; /*a name to be used later*/
    src: url('../fonts/Track.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'TrackItalic'; /*a name to be used later*/
    src: url('../fonts/Track Italic.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Museo Sans'; /*a name to be used later*/
    src: url('../fonts/museosans500/MuseoSans_500-webfont.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Museo Sans Italic'; /*a name to be used later*/
    src: url('../fonts/museosans500/MuseoSans_500_Italic-webfont.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Museo Sans Bold'; /*a name to be used later*/
    src: url('../fonts/MuseoSans900.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Monserrat'; /*a name to be used later*/
    src: url('../fonts/Montserrat-Regular.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Montserrat-Light'; /*a name to be used later*/
    src: url('../fonts/Montserrat-Light.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Montserrat-Bold'; /*a name to be used later*/
    src: url('../fonts/Montserrat-Bold.otf'); /*URL to font*/
}


@font-face {
    font-family: 'Montserrat-Black'; /*a name to be used later*/
    src: url('../fonts/Montserrat-Black.otf'); /*URL to font*/
}
