/*  Page base  */

html, body{
  background-color: $darkblue;
  color: $white;
}

footer{
  position : relative;
  text-align: center;
  height : 30px;
}

footer a{
  text-decoration: none;
  color : white;
}
