/* Menu */

.footer-photo{
  text-align: center;
  -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


.footer-photo img{
  margin-top: 15px;
  width : 10vw;
  min-width: 150px;
  border-radius: 50%;
}
